In [1]:
import h5py
f = h5py.File('./GSE77565_FBP_IC-heatmap-chr-10k.hdf5','r')
list(f.keys())

['(0, 0)',
 '(1, 1)',
 '(10, 10)',
 '(11, 11)',
 '(12, 12)',
 '(13, 13)',
 '(14, 14)',
 '(15, 15)',
 '(16, 16)',
 '(17, 17)',
 '(18, 18)',
 '(19, 19)',
 '(2, 2)',
 '(20, 20)',
 '(21, 21)',
 '(22, 22)',
 '(3, 3)',
 '(4, 4)',
 '(5, 5)',
 '(6, 6)',
 '(7, 7)',
 '(8, 8)',
 '(9, 9)',
 '_self_key']

In [2]:
dset_chr10=f['(10, 10)']
print(dset_chr10.shape)
print(dset_chr10.dtype)
dset_chr10.__class__

(13501, 13501)
float64

h5py._hl.dataset.Dataset

In [3]:
import numpy as np 
tmp = dset_chr10.value
print('min:{0},max:{1}'.format(np.min(tmp),np.max(tmp)))
print(tmp.__class__)
tmp.shape

min:0.0,max:1061.843204268289
<class 'numpy.ndarray'>

(13501, 13501)

In [4]:
import pandas as pd 
df_chr10=pd.DataFrame(tmp)
df_chr10.head()

,0,1,2,3,4,5,6,7,8,9,...,13491,13492,13493,13494,13495,13496,13497,13498,13499,13500
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_chr10['x']=df_chr10.index
df_chr10_long= pd.melt(df_chr10,id_vars="x",var_name='y')
df_chr10_long.head()

   x  y  value
0  0  0    0.0
1  1  0    0.0
2  2  0    0.0
3  3  0    0.0
4  4  0    0.0

In [6]:
print(df_chr10_long.shape)
df_chr10_long_final= df_chr10_long[df_chr10_long.value!=0.0]
df_chr10_long_final.shape

(182277001, 3)

(24125768, 3)

In [7]:
print("xmax:{0},ymax:{1}".format(max(df_chr10_long_final.x),max(df_chr10_long_final.y)))
df_chr10_long_final.head()

xmax:13494,ymax:13494

            x   y       value
135881    871  10  741.501995
137372   2362  10  198.184324
137373   2363  10  738.328617
148033  13023  10  522.187944
175792    279  13  764.319170

In [8]:
df_chr10_long_final.to_csv('./GSE77565_FBP_IC-heatmap-chr-10k.dump.chr10.csv',index=False)

In [9]:
#import seaborn as sns ; sns.set()
import matplotlib.pyplot as plt
#ax=sns.heatmap(tmp,xticklabels=)
tmp[tmp==0.0] = np.nan
plt.matshow(tmp,aspect='auto')

In [10]:
#chr10:1-135,534,747
135534747/10000

13553.4747